/* 基础样式 */
body {
    font-family: 'Open Sans', sans-serif; /* 设置字体 */
    color: black; /* 文本颜色 */
    background-color: white; /* 背景颜色 */
    margin: 0; /* 移除默认边距 */
    padding: 0; /* 移除默认内边距 */
}

.header, .footer {
    background-color: lightgreen; /* 设置头部和底部背景颜色 */
    text-align: center; /* 文本居中 */
    padding: 10px 0; /* 内边距 */
}

.logo {
    max-width: 10%; /* 确保logo适应屏幕宽度 */
    height: auto; /* 保持图片宽高比 */
    display: block;
    margin-left: 0;
}

.menu a {
    display: block; /* 在小屏幕上每个链接单独一行 */
    margin: 5px 0; /* 链接间距 */
    color: black; /* 链接颜色 */
    text-decoration: none; /* 移除下划线 */
    padding: 5px; /* 链接内边距 */
}

.menu a:hover {
    text-decoration: underline; /* 悬停时添加下划线 */
}

.content {
    padding: 20px; /* 内容区域内边距 */
}

.content-image {
    max-width: 80%; /* 图片最大宽度，确保适应性 */
    height: auto; /* 高度自动，保持宽高比 */
    display: block;
    margin: auto;
}

/* 响应式设计：大于600px宽的屏幕 */
@media (min-width: 600px) {
    .menu a {
        display: inline-block; /* 链接并排显示 */
        margin: 0 10px; /* 调整边距 */
    }
}